@import url('https://fonts.cdnfonts.com/css/butler');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/ahellya');


:root {
    --color-pink: #F7D2DE;
    --color-red: #D91C5B;
    --color-semi-pink: #F7D2DE;
    --color-gradient-pink: linear-gradient(180deg, #D91C5B 0%, #AC0039 100%);
    --font-regular: 400;
    --font-bold: 700;
    --font-light: 300;
    --font-main: 'butler';
    --font-headers: 'butler';
}

html,
body {
    margin: auto;
    font-family: 'avenir', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-weight: var(--font-regular);
    overflow-x: hidden;
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
}

.font-butler {
    font-family: 'butler', sans-serif;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border: 4px solid #74642F;
    border-radius: 0;
}

.delimiter {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#typeOne {
    font-family: "ahellya";
    font-size: 108px;
}

#typeTwo {
    font-family: "ahellya";
    font-size: 24px;
    position: absolute;
    right: 15px;
    bottom: 0px;
    letter-spacing: 0.2em;
}

.star {
    min-width: 150px;
    height: auto;
    position: absolute;
    top: -130px;
    right: -100px;
}

.min-w-100 {
    min-width: 350px;
}

#typeOne .Typewriter__cursor {
    color: transparent;
}

.fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.fade-out {
    animation: fadeOut 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #333;
    opacity: 1;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-out;
}

.cus-ul ul{
    list-style-type: disc;
}

.cus-ul ul li{
    line-height: 3rem;
    font-size: 18px;
}

#star {
    opacity: 0;
}

#bulan {
    opacity: 0;
    min-width: 600px;
    height: auto;
    position: absolute;
    padding-right: 100px;
}

.wpforms-container.inline-fields .wpforms-submit-container {
    padding: 15px 0px !important;
    margin-top: 0px !important;
}

#waitlist-backdrop, #waitlist-panel {
    opacity: 0;
    display: none;
}

.preorder-modal {
    display: flex !important;
    opacity: 1 !important;
}

#contactForm p {
    font-family: 'avenir', sans-serif;
}

.container-form {
    max-width: 700px;
    margin: 0 auto;
}
.wpforms-field-large.wpforms-field-required::placeholder {
    color: #fff !important;
}
.wpforms-field-large.wpforms-field-required {
    appearance: none !important;
    width: 100%;
    height: auto;
    outline: none;
    border: medium !important;
    padding: 15px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    line-height: 1em !important;
    text-align: left !important;
    background: rgba(89, 89, 89, 0.6) !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 0px inset, rgba(238, 238, 238, 0.15) 0px 0px 0px 1px inset !important;
}

.wpforms-submit {
    height: auto !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 17px 22px 17px 22px !important;
    border-radius: 10px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    letter-spacing: 0em !important;
    line-height: 1em !important;
    background: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    z-index: 1  !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

div.wpforms-container-full .wpforms-confirmation-container-full, div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
  background: #e0ffc7 !important;
  border: 1px solid #10a37f !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  text-align: center !important;
  background: #10a37f !important;
  color: #fff !important;
}

@media only screen and (max-width: 600px) {
    .mobile-center {
        min-width: 200px;
        padding-left: 45px;
    }
    #typeOne {
        font-size: 64px;
    }
    #typeTwo {
        font-size: 14px;
    }
    .star {
        min-width: 150px;
        height: auto;
        position: absolute;
        top: -80px;
        right: -80px;
    }
    #bulan {
        opacity: 0;
        min-width: 100%;
        height: auto;
        position: absolute;
        padding-right: 0px;
    }
}